
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Any global styles you want to add can go here */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  width: 350px; /* Set the width */
  height: 600px; /* Set the height */
  overflow: hidden; /* Prevent scrolling */
}


#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
